/* ***************************
   ***        RESET        ***
   *************************** 
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ***************************
   ***       DEBUG         ***
   *************************** 
*/

.border {
  border: 1px dashed red;
  min-height: 50px;
}

/* ***************************
   ***       LAYOUT        ***
   *************************** 
*/

.container {
  max-width: 100%;
  margin: 0 auto;
}

.row {
}

.col {
}

/* ***************************
   ***      SECTION        ***
   *************************** 
*/

/* HEADER */
#header {
  background-color: #0084fd;
  height: 80px;
  line-height: 80px;
}

#header > .container {
  display: flex;
  justify-content: space-between;
}

/* INTRO */

#intro .col {
  background-color: red;
  margin: 1rem 0;
}

#intro .card {
  background-color: red;
  padding: 1rem;
}

/* ***************************
   ***     RESPONSIVE      ***
   *************************** 
*/
