/* ***************************
   ***        RESET        ***
   *************************** 
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* ***************************
   ***       GENERAL       ***
   *************************** 
*/

body {
  font-family: "Akatab", sans-serif;
}

img {
  width: 100%;
}

/* ***************************
   ***       DEBUG         ***
   *************************** 
*/

/* .border {
  border: 1px dashed red;
  min-height: 50px;
}

.box-content {
  line-height: 80px;
} */

/* ***************************
   ***       UTILITY       ***
   *************************** 
*/

.card {
  border-radius: 25px;
  padding: 1rem;
  height: 100%;
}

/* ***************************
   ***       LAYOUT        ***
   *************************** 
*/

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

.row {
  margin: 0 -1rem;
}

.col {
  padding: 0 1rem;
}

/* ***************************
   ***      SECTION        ***
   *************************** 
*/

/* HEADER */
#header {
  background-color: #0084fd;
  color: white;
  height: 80px;
  line-height: 80px;
}

#header > .container {
  display: flex;
  justify-content: space-between;
}

#header .logo {
  display: flex;
  align-items: center;
}

#header .burger-menu {
  font-size: 1.6rem;
}

#header .complete-menu {
  display: none;
}

#header .complete-menu > ul {
  display: flex;
  gap: 4rem;
}

#header a {
  color: white;
}

#header .btn-menu {
  border-radius: 15px;
  background-color: white;
  color: #333333;
  padding: 0.5rem 1rem;
}

/* MAIN */

/* INTRO */

#intro .col {
  margin: 1rem 0;
}

#intro .card {
  background-color: #b5ddff;
  padding-bottom: 0;
}

#intro .card .card-media {
  display: block;
}

#intro .card > .row {
  margin: 0;
}

#intro .btn-intro {
  border-radius: 2rem;
  background-color: #0084fd;
  color: white;
  font-size: 1.4rem;
  width: 60%;
  text-align: center;
  padding: 0.5rem 0;
}

/* SECTION STRATEGIC */

#strategic {
  background-color: #9792e4;
}

#strategic .card {
  background-color: white;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* SECTION REVIEWS */

#reviews .col {
  text-align: center;
}

#reviews .card {
  background-color: #9792e4;
  color: white;
  margin: 1rem 0;
}

/* SECTION BENEFITS */

#benefits {
  background-color: #9792e4;
  padding: 1rem 0;
}

#benefits .col {
  text-align: center;
}

#benefits .card {
  background-color: white;
  text-align: start;
  margin: 2rem 0;
}

/* SECTION ABOUT-US */

#about-us {
  padding: 1rem 0;
}

/* SECTION STARTED */

#started {
  padding: 1rem 0;
  background-color: #9792e4;
  color: white;
}

#started .container {
  text-align: center;
}

/* FOOTER */

#footer {
  padding: 1rem 0;
  background-color: #333333;
  color: white;
}

#footer .container {
  text-align: center;
}

/* ***************************
***     RESPONSIVE      ***
*************************** 
*/

/* TABLET */

@media screen and (min-width: 576px) {
  /* Intro */
  #intro .container > .row {
    display: flex;
    flex-wrap: wrap;
  }

  #intro .col {
    width: calc(100% / 3);
  }

  #intro .col:first-child {
    width: calc(100% / 3 * 2);
  }

  /* Section Reviews */
  #reviews .card .row {
    display: flex;
  }

  #reviews .card .row .col:last-child {
    flex-grow: 2;
    text-align: start;
  }

  /* Section Benefits */

  #benefits .row-card-benf {
    display: flex;
    flex-wrap: wrap;
  }

  #benefits .col-card-benf {
    width: 50%;
    padding: 1rem;
  }

  #benefits .card {
    margin: 0;
  }

  /* Section About-Us */
  #about-us .row {
    display: flex;
    justify-content: center;
  }

  #about-us .col {
    width: calc(100% / 2);
  }
}

/* DESKTOP */

@media screen and (min-width: 992px) {
  /* HEADER */
  #header .complete-menu {
    display: block;
  }

  #header .burger-menu {
    display: none;
  }

  /* MAIN */

  .container {
    max-width: 1180px;
  }

  /* Intro */
  #intro .container > .row {
    display: flex;
    flex-wrap: wrap;
  }

  #intro .col {
    width: calc(100% / 3);
  }

  #intro .col:first-child {
    width: calc(100% / 3 * 2);
  }

  #intro .container .card > .row {
    display: flex;
  }

  #intro .card .card-section {
    width: 50%;
  }

  /* section strategic */
  #strategic .row {
    display: flex;
    justify-content: flex-end;
    align-items: end;
  }

  #strategic .row > .col {
    width: 50%;
  }

  /* Section Benefits */
  #benefits .col-card-benf {
    width: calc(100% / 3);
  }

  /* Section About-Us */
  #about-us .row {
    display: flex;
    justify-content: center;
  }

  #about-us .col {
    width: calc(100% / 3);
  }

  #about-us .col:first-child {
    width: calc(100% / 3 * 2);
  }
}
