/* ***************************
   ***        RESET        ***
   *************************** 
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

/* ***************************
   ***       GENERAL       ***
   *************************** 
*/

body {
  font-family: "Akatab", sans-serif;
}

img {
  width: 100%;
}

section,
footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/* ***************************
   ***       DEBUG         ***
   *************************** 
*/

/* .border {
  border: 1px dashed red;
  min-height: 50px;
}

.box-content {
  line-height: 80px;
} */

/* ***************************
   ***       UTILITY       ***
   *************************** 
*/
.title-section {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  font-size: 2.5rem;
}

.text-section {
  line-height: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.card {
  border-radius: 2rem;
  padding: 2rem;
  height: 100%;
  overflow: auto;
}

.title-card {
  font-size: 1.75rem;

  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.text-card {
  line-height: 2rem;
}

.icon-card {
  font-size: 6.5rem;
}

/* ***************************
   ***       LAYOUT        ***
   *************************** 
*/

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
}

.row {
  margin: 0 -2rem;
}

.col {
  padding: 0 2rem;
}

section:nth-of-type(odd) {
  background-color: white;
}

section:nth-of-type(2n + 1) .card {
  background-color: #9792e4;
}

section:nth-of-type(even) {
  background-color: #9792e4;
  color: white;
}

section:nth-of-type(even) .card {
  background-color: white;
}

/* ***************************
   ***      SECTION        ***
   *************************** 
*/

/* HEADER */
#header {
  background-color: #0084fd;
  color: white;
  height: 80px;
  line-height: 80px;
}

#header > .container {
  display: flex;
  justify-content: space-between;
}

#header .logo {
  display: flex;
  align-items: center;
}

#header .burger-menu {
  font-size: 1.6rem;
}

#header .complete-menu {
  display: none;
}

#header .complete-menu > ul {
  display: flex;
  gap: 4rem;
}

#header a {
  color: white;
}

#header .btn-menu {
  border-radius: 15px;
  background-color: white;
  color: #333333;
  padding: 0.5rem 1rem;
}

/* MAIN */

/* INTRO */

#intro .col {
  margin: 1rem 0;
}

#intro .card {
  background-color: #b5ddff;
  text-align: center;
}

#intro .col:first-child > .card {
  padding-bottom: 0;
  text-align: start;
}

#intro .card .card-media > img {
  display: block;
}

#intro .card > .row {
  margin: 0;
}

#intro .btn-intro {
  border-radius: 2rem;
  background-color: #0084fd;
  color: white;
  font-size: 1.4rem;
  width: 80%;
  text-align: center;
  padding: 0.5rem 0;
  margin: 2rem 0;
}

#intro .title-card {
  font-size: 1.75rem;

  color: #0084fd;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

#intro .text-card {
  font-weight: 600;
  line-height: 2rem;

  color: #5a6e7f;
}

#intro .icon-card {
  font-size: 6.5rem;
  color: #0084fd;
}

/* SECTION STRATEGIC */

#strategic .card {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  text-align: center;
}

#strategic .card .text-card {
  font-style: italic;
  padding-bottom: 2rem;
}

#strategic .btn-strategic {
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #9792e4;
  padding: 1rem;
  font-size: 1.3rem;
}

#strategic .btn-strategic > a {
  color: #333333;
}

/* SECTION REVIEWS */

#reviews .col {
  text-align: center;
}

#reviews .card {
  color: white;
  margin: 1rem 0;
}

#reviews .title-section {
  color: #9792e4;
}

#reviews .text-section {
  font-size: 1.2rem;
}

/* SECTION BENEFITS */

#benefits {
  padding: 1rem 0;
}

#benefits .col {
  text-align: center;
}

#benefits .card {
  text-align: start;
  margin: 2rem 0;
}

/* SECTION ABOUT-US */

#about-us {
  padding: 1rem 0;
}

/* SECTION STARTED */

#started {
  padding: 1rem 0;
  color: white;
}

#started .container {
  text-align: center;
}

/* FOOTER */

#footer {
  padding: 1rem 0;
  background-color: #333333;
  color: white;
}

#footer .container {
  text-align: center;
}

/* ***************************
***     RESPONSIVE      ***
*************************** 
*/

/* TABLET */

@media screen and (min-width: 576px) {
  /* Intro */
  #intro .container > .row {
    display: flex;
    flex-wrap: wrap;
  }

  #intro .col {
    width: calc(100% / 3);
  }

  #intro .col:first-child {
    width: calc(100% / 3 * 2);
  }

  #intro .col:first-child > .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #intro .card-media {
    width: calc(100% / 3 * 2);
  }

  #intro .btn-intro {
    width: 60%;
  }

  /* Section Strategic */

  #strategic .title-section {
    font-size: 5rem;
  }

  /* Section Reviews */
  #reviews .card .row {
    display: flex;
  }

  #reviews .card .row .col:last-child {
    flex-grow: 2;
    text-align: start;
  }

  /* Section Benefits */

  #benefits .row-card-benf {
    display: flex;
    flex-wrap: wrap;
  }

  #benefits .col-card-benf {
    width: 50%;
    padding: 1rem;
  }

  #benefits .card {
    margin: 0;
  }

  /* Section About-Us */
  #about-us .row {
    display: flex;
    justify-content: center;
  }

  #about-us .col {
    width: calc(100% / 2);
  }
}

/* DESKTOP */

@media screen and (min-width: 992px) {
  /* HEADER */
  #header .complete-menu {
    display: block;
  }

  #header .burger-menu {
    display: none;
  }

  /* MAIN */

  .container {
    max-width: 1180px;
  }

  /* Intro */
  #intro .container .card > .row {
    display: flex;
  }

  #intro .col:first-child > .card {
    flex-direction: row;
  }

  #intro .col:first-child > .card > * {
    width: 50%;
  }

  #intro .card-media {
    display: flex;
    align-items: flex-end;
  }

  /* section strategic */
  #strategic .row {
    display: flex;
    justify-content: center;
    align-items: end;
  }

  #strategic .row > .col {
    width: 40%;
  }

  #strategic .title-section {
    font-size: 2rem;
    padding-top: 9rem;
    padding-bottom: 5rem;
  }

  #strategic .card > .card-media {
    width: 85%;
  }

  /* Section Benefits */
  #benefits .col-card-benf {
    width: calc(100% / 3);
  }

  /* Section About-Us */
  #about-us .row {
    display: flex;
    justify-content: center;
  }

  #about-us .col {
    width: calc(100% / 3);
  }

  #about-us .col:first-child {
    width: calc(100% / 3 * 2);
  }
}
